:host {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 20px;
  }
  
  app-lawn-display {
    display: block;
    margin-bottom: 20px;
  }
  
  app-instruction-control {
    display: block;
    margin-top: 20px;
  }